*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    width: 100%;
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 70px 1fr 0.5fr 0.5fr;
    grid-template-areas: "header header header"
                         "section section section"
                         "div-left bottom-up div-right"
                         "div-left bottom-down div-right";

    gap: 10px;
    padding: 10px;

}

header{
        grid-area: header;
        background-color: crimson;
}
section{
    grid-area: section;
    background-color: lightseagreen;
}
#div-left{
    grid-area: div-left;
    background-color: darksalmon;
}
#bottom-up{
    grid-area: bottom-up;
    background-color: darkgoldenrod;

}
#bottom-down{
    grid-area: bottom-down;
    background-color: fuchsia;
}

#div-right{
    grid-area: div-right;
    background-color: dodgerblue;
}

